.equipo__conteiner {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.equipo__integrantes__todos {
  padding-right: 15px;
  padding-left: 15px; }

.equipo__wrap {
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  margin: 0; }

.equipo__imagen {
  max-width: 400px;
  height: 550px;
  filter: grayscale(100%); }

.equipo__imagen:hover {
  filter: grayscale(0%); }

.equipo__posicion {
  color: black;
  font-size: 18px;
  margin-bottom: 2px;
  margin-top: 8px;
  align-items: center;
  text-transform: uppercase;
  text-align: center; }

.equipo__descripcion {
  color: black;
  font-size: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px;
  margin: 0 0 30px 0;
  text-align: center; }

#equipoImagenes {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  max-width: 100%;
  max-height: 100%;
  column-gap: 2%;
  row-gap: 3%;
  object-fit: cover;
  grid-template-areas: "equipoUno equipoDos equipoTres" "equipoCuatro equipoCinco equipoSeis"; }

#equipoUno {
  grid-area: equipoUno; }

#equipoDos {
  grid-area: equipoDos; }

#equipoTres {
  grid-area: equipoTres; }

#equipoCuatro {
  grid-area: equipoCuatro; }

#equipoCinco {
  grid-area: equipoCinco; }

#equipoSeis {
  grid-area: equipoSeis; }

.imagenInteriores {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  max-width: 99%;
  max-height: 100%;
  margin-bottom: 10px;
  column-gap: 10px;
  row-gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  object-fit: cover;
  grid-template-areas: "imagenUno imagenDos imagenTres" "imagenCuatro imagenCinco imagenSeis" "imagenSiete imagenOcho imagenNueve"; }

.imagenUno {
  grid-area: imagenUno; }

.imagenDos {
  grid-area: imagenDos; }

.imagenTres {
  grid-area: imagenTres; }

.imagenCuatro {
  grid-area: imagenCuatro; }

.imagenCinco {
  grid-area: imagenCinco; }

.imagenSeis {
  grid-area: imagenSeis; }

.imagenSiete {
  grid-area: imagenSiete; }

.imagenOcho {
  grid-area: imagenOcho;
  height: 100%; }

.imagenNueve {
  grid-area: imagenNueve; }

.img {
  height: 100%;
  width: 100% !important; }

.img-fluid {
  object-fit: cover;
  filter: brightness(70%);
  height: 100% i !important; }

.img-fluid:hover {
  filter: brightness(100%); }

.imagenProyectos {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 33% 33% 33%;
  max-width: 99%;
  max-height: 100%;
  column-gap: 10px;
  row-gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  object-fit: cover;
  grid-template-areas: "imagenUno imagenDos imgaenTres" "imagenCuatro imagenCinco imagenSeis" "imagenSiete imagenOcho imagenNueve"; }

img {
  width: 100% !important;
  height: 100% !important; }

.imagenUno {
  grid-area: imagenUno; }

.imagenDos {
  grid-area: imagenDos; }

.imagenTres {
  grid-area: imagenTres; }

.imagenCuatro {
  grid-area: imagenCuatro; }

.imagenCinco {
  grid-area: imagenCinco; }

.imagenSeis {
  grid-area: imagenSeis; }

.imagenSiete {
  grid-area: imagenSiete; }

.imagenOcho {
  grid-area: imagenOcho;
  height: 100%; }

.imagenNueve {
  grid-area: imagenNueve; }

form {
  display: block; }
  form fieldset {
    text-align: center; }
    form fieldset legend {
      color: #5a695a;
      float: left;
      width: 100%;
      padding: 0;
      margin-bottom: .5rem;
      font-size: calc(1.275rem + .3vw);
      line-height: inherit;
      font-family: Raleway; }
      form fieldset legend label input {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit; }

.sectionContacto {
  margin-top: 100px; }

.sectionContacto__texto {
  height: 200px;
  box-sizing: border-box;
  font-size: inherit;
  line-height: inherit;
  margin-top: 20px;
  padding: 15px; }

.sectionContacto__botones {
  margin-left: 10px; }

.botones {
  text-align: center;
  margin-top: 20px; }

.textoTitulos {
  font-family: Raleway;
  color: #5a695a;
  text-align: center;
  margin-bottom: 20px; }

.textoDescripcion {
  font-family: Raleway;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 17px;
  word-spacing: 5px;
  line-height: 25px; }

.footer__texto {
  font-family: Raleway;
  margin-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  justify-content: flex-end;
  font-family: Raleway; }

.navbar-nav {
  justify-content: space-evenly;
  text-transform: uppercase;
  padding: 10px;
  align-items: center; }
  .navbar-nav .nav-link {
    display: block;
    padding: .5rem 1rem;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5; }

h1 {
  margin-top: 100px !important; }

h3 {
  line-height: 1;
  font-family: Raleway;
  color: #5a695a;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -35px;
  margin-top: 20px !important; }

.logoAF {
  font-family: Raleway;
  color: #5a695a; }

h4 {
  line-height: 1;
  font-family: Raleway !important;
  color: #5a695a;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -20px;
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.footer {
  height: 100%;
  flex-basis: 100%;
  background-color: lightgray;
  display: flex;
  grid-template-areas: "footerUno footerDos footerTres" "footerCuatro footerCuatro"; }

.footerUno {
  grid-area: footerUno; }

.footerDos {
  grid-area: footerDos; }

.footerTres {
  grid-area: footerTres; }

.footerCuatro {
  grid-area: footerCuatro;
  width: 14%; }

.redes {
  width: 25%;
  font-size: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  color: black !important;
  margin-left: -20px; }

a {
  color: black !important; }

.redes .fab {
  margin: 30px;
  width: 10px;
  height: 40px;
  border-radius: 50%; }

.redes .fab:hover {
  font-size: 60px;
  color: #5a695a; }

.footer__powered {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  align-items: flex-end;
  font-size: 10px;
  text-align: center;
  flex-direction: row-reverse; }

.text-center {
  margin-top: 25px; }

.input-group-btn {
  margin-left: 3px !important; }

.btn {
  border: 1px solid #5a695a !important; }

.jumbotron {
  width: 36%; }

.footerDescripcion {
  font-family: Raleway;
  width: 25%;
  justify-content: center;
  align-items: center; }

.footerTexto {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center; }

.imagenFooter {
  max-height: 50%;
  max-width: 50%;
  margin-left: 35%;
  margin-top: 25%;
  margin-bottom: 40px; }

.mx-auto-footer {
  margin-right: auto !important; }

body {
  background-color: white;
  font-family: Montserrat;
  margin: 0;
  padding: 0; }

.contenedor {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 100%;
  grid-template-areas: "menu"  "contenido"  "footer"; }

.menu {
  grid-area: menu; }

.contendo {
  grid-area: contenido; }

.footer {
  grid-area: footer; }

#carrouselIndex {
  width: 100%;
  height: 100%; }

.carousel-item {
  width: 100%;
  height: 600px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .4s ease-in-out;
  margin-top: 30px;
  margin-bottom: 30px; }

.logoFloatRight {
  width: 40px;
  height: 40px; }

@media only screen and (max-width: 768px) {
  .contenedor {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 100%; }
  .imagenProyectos {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 20% 20% 20% 20% 20%;
    row-gap: 10px;
    margin-top: 10px;
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-areas: "imagenUno imagenDos" "imagenTres imagenCuatro" "imagenCinco imagenSeis" "imagenSiete imagenOcho" "imagenNueve imagenNueve"; }
  .imagenUno {
    grid-area: imagenUno; }
  .imagenDos {
    grid-area: imagenDos; }
  .imagenTres {
    grid-area: imagenTres; }
  .imagenCuatro {
    grid-area: imagenCuatro; }
  .imagenCinco {
    grid-area: imagenCinco; }
  .imagenSeis {
    grid-area: imagenSeis; }
  .imagenSiete {
    grid-area: imagenSiete; }
  .imagenOcho {
    grid-area: imagenOcho; }
  .imagenNueve {
    grid-area: imagenNueve; }
  .imagenInteriores {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: 99%;
    row-gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    grid-template-areas: "imagenUno imagenDos" "imagenTres imagenCuatro" "imagenCinco imagenSeis" "imagenSiete imagenOcho" "imagenNueve ."; }
  .footer {
    display: flex;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 35% 15%;
    max-width: 100%;
    max-height: 100%;
    column-gap: 2%;
    object-fit: cover;
    grid-template-areas: "footerUno footerDos" "footerTres footerTres" ". footerCuatro"; }
  .footerUno {
    grid-area: footerUno; }
  .footerDos {
    grid-area: footerDos; }
  .footerTres {
    grid-area: footerTres;
    width: 90%; }
  .footerCuatro {
    grid-area: footerCuatro;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row; }
  .footerDescripcion {
    width: 100%; }
  .redes {
    width: 60%;
    font-size: 50px; }
  .text-center {
    margin: 10px; }
  .footer__powered {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 0px !important;
    margin-left: -50px; }
  .imagenFooter {
    display: none; }
  .input-group {
    margin-left: 20px; }
  #equipoImagenes {
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    row-gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-areas: "equipoUno equipoDos" "equipoTres equipoCuatro"  "equipoCinco equipoSeis"; }
  #logo {
    height: 20% !important;
    width: 10% !important;
    display: flex;
    margin-bottom: -30px; } }

@media only screen and (max-width: 480px) {
  .contenedor {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 100%; }
  .imagenProyectos {
    grid-template-columns: 100%;
    grid-template-rows: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
    row-gap: 20px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column; }
  .imagenInteriores {
    grid-template-columns: 100%;
    grid-template-rows: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
    row-gap: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column; }
  #equipoImagenes {
    grid-template-columns: 100%;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
    row-gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-areas: "equipoUno" "equipoDos" "equipoTres"  "equipoCuatro"  "equipoCinco"  "equipoSeis"; }
  .footer {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 5px; }
  .footerDescripcion {
    width: 100%;
    font-size: 15px; }
  .redes {
    width: 100%;
    margin: -10px; }
  .text-center {
    margin-top: 10px; }
  .footer__powered {
    display: none; }
  .imagenFooter {
    display: none; }
  .jumbotron {
    width: 90%; }
  .input-group {
    margin: 20px !important; }
  .input-group-btn {
    margin-right: 30px !important; }
  #logo {
    width: 20% !important;
    height: 10% !important; }
  h1 {
    margin-top: 60px !important;
    font-size: 40px !important; }
  h3 {
    font-size: 30px !important; }
  h4 {
    font-size: 25px !important;
    margin-top: 0px !important;
    margin-left: 10px; }
  .sectionContacto {
    margin-top: 60px; }
    .sectionContacto legend {
      font-size: 20px; }
  .sectionContacto__botones {
    margin-top: 20px;
    align-content: center;
    margin-left: 10px;
    width: 30%; } }
