form{
    display: block;
        fieldset{
            text-align: center;
            
            legend{
                color:rgb(90, 105, 90);
                float: left;
                width: 100%;
                padding: 0;
                margin-bottom: .5rem;
                font-size: calc(1.275rem + .3vw);
                line-height: inherit;
                font-family: Raleway;

                label{

                    input{
                        margin: 0;
                        font-family: inherit;
                        font-size: inherit;
                        line-height: inherit;
                        }
                     }
                 }
                }
            
}
.sectionContacto{
    margin-top: 100px;
}
.sectionContacto__texto{
    height: 200px;
    box-sizing: border-box;
    font-size: inherit;
    line-height: inherit;
    margin-top: 20px;
    padding: 15px;
}
.sectionContacto__botones{
    margin-left: 10px;
}
.botones{
    text-align: center;
    margin-top: 20px;
}