//no puedo hacer el import de los otros archivos scss//
//no funciona porque tiene boostrap//
@import "estudio";
@import "galeriaImagenes";
@import "contacto";
@import "tipografias";
@import "footer";
body{
    background-color:white;
    font-family: Montserrat;
    margin:0;
    padding: 0;
}

.contenedor{
    display: grid;
    height: 100%;
    grid-template-rows: 8% 85% 7%;
    grid-template-columns: 100%;
    grid-template-areas: 
                        "menu" 
                        "contenido" 
                        "footer"; 
}
.menu{
    grid-area: menu;
}
.contendo{
    grid-area: contenido;
}
.footer{
    grid-area: footer;
}


#carrouselIndex{
    width: 100%;
    height: 100%;
}

.carousel-item{
    width: 100%;
    height: 600px; //arreglo temporal//
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .4s ease-in-out;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.logoFloatRight{
    width: 40px;
    height: 40px;
}
@media only screen and (max-width: 768px) {
    .contenedor{
        grid-template-rows: 5% 70% 25%; //para la seccion de "interiores quda mejor 3% 82% 15%//
        grid-template-columns: 100% 
    }
        .imagenProyectos{
            grid-template-columns: repeat(2,auto);
            grid-template-rows: 20% 20% 20% 20% 20%;
            row-gap: 10px;
            margin-top: 10px;
            display: grid;
            margin-left: 10px;
            margin-right: 10px;
            grid-template-areas:            
            "imagenUno imagenDos"
            "imagenTres imagenCuatro"
            "imagenCinco imagenSeis"
            "imagenSiete imagenOcho"
            "imagenNueve imagenNueve"; 
        }
        .imagenUno{
            grid-area: imagenUno;
        }
        .imagenDos{
            grid-area: imagenDos;
        }
        .imagenTres{
            grid-area: imagenTres;
        }
        .imagenCuatro{
            grid-area: imagenCuatro;
        }
        .imagenCinco{
            grid-area: imagenCinco;
        }
        .imagenSeis{
            grid-area: imagenSeis;
        }
        .imagenSiete{
            grid-area: imagenSiete;
        }
        .imagenOcho{
            grid-area: imagenOcho;
        }
        .imagenNueve{
            grid-area: imagenNueve;
        }
        .imagenInteriores{
            grid-template-columns: repeat(2,auto);
            grid-template-rows: 20% 20% 20% 20% 20%;
            row-gap:10px;
            margin-left: 10px;
            margin-right: 10px;
            margin-top:50px;
            grid-template-areas: 
            "imagenUno imagenDos"
            "imagenTres imagenCuatro"
            "imagenCinco imagenSeis"
            "imagenSiete imagenOcho"
            "imagenNueve .";
        }
            .footer{
                display: flex;
                height: 100%;
                width: 100%;
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 50% 35% 15%;
                max-width: 100%;
                max-height: 100%;
                margin-bottom: 30px;
                column-gap: 2%;
                row-gap: 3%;
                object-fit: cover;
                grid-template-areas: 
                        "footerUno footerDos"
                        "footerTres footerTres"
                        ". footerCuatro";
            }
            .footerUno{
                grid-area: footerUno;
            }
            .footerDos{
                grid-area: footerDos;
            }
            .footerTres{
                grid-area: footerTres;
            }
            .footerCuatro{
                grid-area: footerCuatro;
                justify-content: center;
                align-items: center;
            }
            .footerDescripcion{
                width: 100%;
            }
            .redes{
                width: 60%;
                font-size: 50px;
            }
            .footerSearch{
                width: 100%;
                margin-top: 15%;
                margin-left: 10px;
                margin-right: 10px;
            }
            .footer__powered{
                width: 100%;
                display: flex;
                flex-direction: row-reverse;
                margin-right: 20px;
              }

        #equipoImagenes{
            grid-template-columns: 50% 50%;
            grid-template-rows: 33% 33% 33%;
            row-gap:10px;
            margin-left: 10px;
            margin-right: 10px;
            grid-template-areas: 
            "equipoUno equipoDos"
            "equipoTres equipoCuatro" 
            "equipoCinco equipoSeis";
        }
        .navbar-brand{
            width: 30px !important;
        }   
        }
    

@media only screen and (max-width: 480px) {
    .contenedor{
        grid-template-rows: 4% 66% 30%;
        grid-template-columns: 100%;
    }

    .imagenProyectos{
    grid-template-columns: 100%;
    grid-template-rows: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
    row-gap:10px;
    margin-top:50px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}
    .imagenInteriores{
        grid-template-columns: 100%;
        grid-template-rows: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
        row-gap:10px;
        margin-top:50px;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
}
#equipoImagenes{
    grid-template-columns: 100%;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
    row-gap:10px;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-areas: 
    "equipoUno"
    "equipoDos"
    "equipoTres" 
    "equipoCuatro" 
    "equipoCinco" 
    "equipoSeis";
}
.footer{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.footerDescripcion{
    width: 100%;
}
.redes{
    width: 100%;
}
.footerSearch{
    width: 100%;
    margin-top: 0%;
    margin-left: 10px;
    margin-right: 10px;
}
.footer__powered{
    align-items: center;
    align-content: center;
    margin-left: 200px;
}
.navbar-brand{
    width: 30% !important;
}  
}




//(max-width: 768px) esta e mis notas//