.redes{
    width: 33%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    color: black;
}
.redes .fab{
    margin: 30px;
    width: 10px;
    height: 40px;
    border-radius: 50%;

}
.redes .fab:hover{
    font-size: 45px;
}
.footer {
    height: 220px;
    flex-basis: 100%;
    margin-top: 20px;
    background-color: lightgray;
    display: flex;
}
.footer__powered{
      width: 33%;
      font-family: 'Courier New', Courier, monospace;
      display: flex;
      align-items: flex-end;
      font-size: 10px;  
      text-align: center;
    }

.footerDescripcion{
        font-family: Raleway;
        width: 33%;
}

.footerTexto{
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}