.redes{
    width: 33%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    color: black;
}
.redes .fab{
    margin: 30px;
    width: 10px;
    height: 40px;
    border-radius: 50%;

}
.redes .fab:hover{
    font-size: 45px;
}
.footer {
    height: 220px;
    flex-basis: 100%;
    margin-top: 20px;
    background-color: lightgray;
    display: flex;
}
.footer__powered{
      width: 5%;
      font-family: 'Courier New', Courier, monospace;
      display: flex;
      align-items: flex-end;
      font-size: 10px;  
      text-align: center;
    }
   
.footerSearch{
    width: 29%;
    align-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    margin-top: 90px;
}
.searchFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn btn-outline-success{
    color: rgb(90, 105, 90) !important;
    border-color: rgb(90, 105, 90) !important;
}
.form-control me-2{
    display: flex !important;
}

.footerDescripcion{
        font-family: Raleway;
        width: 33%;
        justify-content: center;
        align-items: center;
}

.footerTexto{
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}