.footer {
    height: 100%;
    flex-basis: 100%;
    background-color: lightgray;
    display: flex;
    grid-template-areas: 
    "footerUno footerDos footerTres"
    "footerCuatro footerCuatro";
}
.footerUno{
grid-area: footerUno;
}
.footerDos{
grid-area: footerDos;
}
.footerTres{
grid-area: footerTres;
}
.footerCuatro{
grid-area: footerCuatro;
width: 14%;
}
.redes{
    width: 25%;
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    color: black !important;
    margin-left: -20px;
}
a{
    color:black !important;
}
.redes .fab{
    margin: 30px;
    width: 10px;
    height: 40px;
    border-radius: 50%;

}
.redes .fab:hover{
    font-size: 60px;
    color:rgb(90, 105, 90);
}

.footer__powered{
      font-family: 'Courier New', Courier, monospace;
      display: flex;
      align-items: flex-end;
      font-size: 10px;  
      text-align: center;
      flex-direction: row-reverse;
    }
.text-center{
    margin-top: 25px;
}
.input-group-btn{
    margin-left: 3px !important;
}
.btn{
    border: 1px solid  rgb(90, 105, 90) !important;
}
.jumbotron{
    width: 36%;
}

.footerDescripcion{
        font-family: Raleway;
        width: 25%;
        justify-content: center;
        align-items: center;
}

.footerTexto{
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagenFooter{
    max-height: 50%;
    max-width: 50%;
    margin-left: 35%;
    margin-top: 25%;
    margin-bottom: 40px;
}
.mx-auto-footer{
    margin-right: auto!important;
}