//no se esta usando//
#listaFlexible{
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

ul{
    margin:0;
    padding:0;
    height: 100%;
    list-style-type: none;                
}
.menu{
    position: fixed;
}
.carousel-inner{
    margin-right: 10px;
    width: 95% !important;
    max-height: 90% !important;
}